@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;800&display=swap');



/* Layout */

body {
    margin: 0 auto;
    background: rgb(207, 207, 207);
    letter-spacing:0.1em;
    max-width: 1200px;
    font-family: 'montserrat';


}
.container{
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows:auto;
    grid-template-areas: 
        "header header header"
        "intro weather weather"
        "article article article"
        "content1 content1 content1"
        "footer footer footer";
    grid-gap: 8vh;
    margin:  0px 15px ;
}


  

.header {
    grid-area: header;
    background-image: url('https://images.unsplash.com/photo-1560103104-4623c14a473b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 55vh;

}

  
#content1 {
    grid-area: content1;
}


@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
        /* grid-template-rows:2fr; */
        grid-auto-rows: minmax(300px, auto);
        grid-template-areas: 
        "header"
        "weather"
        "content1"
        "intro"
        "article"
        "article"
        "article"
        "article"
        "article";
    }

    .navbar-links {
        display:none;
    }

    .article-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 200px;
    }

    #article1,
    #article2,
    #article3
     {
        width: 70%;
        margin-bottom: 25px;
    }
}

/* content */

nav {
    display: flex;
    padding: 10px;
    background: linear-gradient( rgb(8, 8, 8), transparent);
    justify-content: flex-end;
    align-items: center;
}

i {
    color: whitesmoke;
    margin-right: auto;
    margin-left: 20px;
    font-size: 25px;
    
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

.nav-link {
    color: rgb(255, 255, 255);
    font-size: 15px;
    margin-right: 24px;
    letter-spacing:0.1em;
    text-decoration: none;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition:all .5s;
}
nav ul li a:hover {
  color: rgb(156, 155, 155);
}

/* typography */
body{
    font-family: 'montserrat';
}

p {
    color: whitesmoke;
}

h2 {
    text-align: center;
    font-weight: 500;
    letter-spacing:0.1em;

    
}
.gallery-title {
    color:rgb(27, 27, 27)
}

.intro-hl {
    color:#1d1d1d;
    text-align: center;

}

#title {
    color: whitesmoke;
    font-size: 4em;
    margin-left: 20px;
    font-weight: 800;
    margin-bottom: 15px;

    
}

.intro-text {
    color: rgb(27, 27, 27);
    text-align: center;
    font-size: 18px;
    margin: auto;
}

/* btn */

.buy-now-btn:hover {
    background:rgb(4, 151, 248);
    color: whitesmoke;
}

.buy-now-btn {
    background: whitesmoke;
    font-size: 17px;
    padding: 10px 30px;
    border-radius: 10px;
    color: black;
    font-weight: 500;
    font-style: normal;
    transition: .5s;
    cursor: pointer;
}

/* gallery */

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    grid-area: content1
  }
  
  .image-gallery > li {
    height: 200px;
  }
  
  .image-gallery li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 5px;
  }

  .image-gallery img {
    transition: transform 0.2s ease
  }

  .image-gallery img:hover {
    -webkit-transform:scale(2);
    transform:scale(1.5);
}

footer{
    background: #1d1d1d;
    grid-area: footer;
}

.kontaktinfo {
    display: flex;
    flex-direction: column;
    justify-content:start;
    margin-top: 40px;
    color: white;
}

.flexclass {
    display: flex;
}

.kontaktinfo li {
    margin-top: 10px;
    color:#9b9b9b
}


/* weather app */

.weather-app {
    width: 40vh;
    height: 20vh;
    border-radius: 30px;
    background: #026891;
    padding: 10px 70px 90px 70px;
    grid-area: weather;
}

.degree {
    text-align: start;
}

h3,
h2,
h4 {
    color: white;
    font-family: 'montserrat';
    font-weight: 500;

}

.weather,
.wind,
.humidity {
    margin: 0;
    line-height: 30px;
}

.icon {
    width: 100px;
    margin: 0;
    float: right;
}

/* article section */

.article-container {
    height: 500px;
    grid-area: article;
    display: flex;
    justify-content: space-between;
}

article {
    height: 100%;
    width: 25%;
    padding: 15px;
    border: 5px solid white;
}

.article-img {
    width: 100%;
    height: 55%;
    border-radius: 15px;
    margin-bottom: 30px;
    

}

.article-txt {
    color:#1d1d1d;
}