@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;800&display=swap');



/* Layout */

body {
    margin: 0 auto;
    background: rgb(207, 207, 207);
    letter-spacing:0.1em;
    width: 900px;


}
.container{
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows:auto;
    grid-template-areas: 
        "header header header"
        "intro intro intro "
        "content1 content1 content1"
        "footer footer footer";
    grid-gap:5vh;
    
    
    

}

  

.header {
    grid-area: header;
    background-image: url('https://images.unsplash.com/photo-1560103104-4623c14a473b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;

}

  
#content1 {
    grid-area: content1;
}


@media only screen and (max-width: 550px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows:0.4fr 0.4fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas: 
        "nav"
        "main"
        "content1"
        "footer"

    }
}

/* content */

nav {
    display: flex;
    padding: 10px;
    background: linear-gradient( rgb(8, 8, 8), transparent);
    justify-content: flex-end;
    align-items: center;
}

i {
    color: whitesmoke;
    margin-right: auto;
    margin-left: 20px;
    font-size: 25px;
    
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

.nav-link {
    color: rgb(255, 255, 255);
    font-size: 15px;
    margin-right: 24px;
    letter-spacing:0.1em;
    text-decoration: none;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition:all .5s;
}
nav ul li a:hover {
  color: rgb(156, 155, 155);
}

/* typography */
body{
    font-family: 'montserrat';
}

p {
    color: whitesmoke;
}

h2 {
    text-align: center;
    font-weight: 500;
    letter-spacing:0.1em;

    
}

#title {
    color: whitesmoke;
    font-size: 4em;
    margin-left: 20px;
    font-weight: 800;
    margin-bottom: 15px;

    
}

.intro-text {
    color: rgb(27, 27, 27);
    text-align: center;
    font-size: 18px;
}

/* btn */
.buy-now-btn:hover {
    background:rgb(4, 151, 248);
    color: whitesmoke;
}

.buy-now-btn {
    background: whitesmoke;
    font-size: 17px;
    padding: 10px 30px;
    border-radius: 10px;
    color: black;
    font-weight: 500;
    font-style: normal;
    transition: .5s;
}

/* gallery */

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }
  
  .image-gallery > li {
    height: 200px;
    cursor: pointer;
  }
  
  .image-gallery li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 5px;
  }

  img {
    transition: transform 0.2s ease
  }

  img:hover {
    -webkit-transform:scale(2);
    transform:scale(1.5);
}

footer{
    background: #1d1d1d;
    grid-area: footer;
    width: 100vh;
}

.kontaktinfo {
    display: flex;
    flex-direction: column;
    justify-content:start;
    margin-top: 40px;
    color: white;
}

.flexclass {
    display: flex;
}

.kontaktinfo li {
    margin-top: 10px;
    color:#9b9b9b
}